<coverageStore>
  <id>CoverageStore-{{layer_id}}</id>
  <name>{{layer_id}}</name>
  <url>file:coverages/{{workspace}}/{{layer_id}}</url>
  <workspace>
    <id>{{workspace}}</id>
  </workspace>
  <__default>false</__default>
  <type>ImageMosaic</type>
  <enabled>true</enabled>
  <disableOnConnFailure>false</disableOnConnFailure>
</coverageStore>
