<coverageStore>
  <id>CoverageStore-{{workspace}}-{{layer_id}}</id>
  <name>{{workspace}}:{{layer_id}}</name>
  <url>file://{{ortho_dir}}/{{workspace}}/{{layer_id}}</url>
  <workspace>
    <id>Workspace-{{workspace}}</id>
  </workspace>
  <__default>false</__default>
  <type>ImageMosaic</type>
  <enabled>true</enabled>
  <disableOnConnFailure>false</disableOnConnFailure>
  <dateCreated>{{utcnow}}</dateCreated>
  <dateModified>{{utcnow}}</dateModified>
</coverageStore>
