<layer>
  <id>Layer-{{workspace}}-{{layer_id}}</id>
  <name>{{workspace}}:{{layer_id}}</name>
  <type>RASTER</type>
  <defaultStyle>
    <id>Style-{{layer_id}}</id>
  </defaultStyle>
  <resource class="coverage">
    <id>Coverage-{{workspace}}-{{layer_id}}</id>
  </resource>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>
