<layer>
  <name>{{layer_id}}</name>
  <id>{{type}}-{{layer_id}}</id>
  <type>RASTER</type>
  <defaultStyle>
    <id>{{style}}</id>
  </defaultStyle>
  <resource class="coverage">
    <id>CoverageStore-{{id}}</id>
  </resource>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>
