<layerGroup>
  <id>LayerGroup-{{workspace}}</id>
  <name>{{workspace}}</name>
  <title>{{workspace}}</title>
  <abstractTxt>{{workspace}}</abstractTxt>
  <mode>SINGLE</mode>
  <workspace>
      <id>Workspace-{{workspace}}</id>
  </workspace>
  <internationalTitle/>
  <internationalAbstract/>
  <publishables>
    {{#resolutions}}
    <published>
      <id>Layer-{{workspace}}-{{.}}</id>
    </published>
    {{/resolutions}}
  </publishables>
  <styles>
    {{#resolutions}}
    <style><id>Style-{{.}}</id></style>
    {{/resolutions}}
  </styles>
  <bounds>
    <minx>7511099.0</minx>
    <maxx>7763451.0</maxx>
    <miny>566249.0</miny>
    <maxy>747597.0</maxy>
    <crs class="projected">EPSG:2913</crs>
  </bounds>  
  <metadata>
    <entry key="cachingEnabled">false</entry>
  </metadata>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layerGroup>
