<layer>
  <name>{{schema}}_{{type}}</name>
  <id>{{layer_id}}</id>
  <type>VECTOR</type>
  <defaultStyle>
    <id>{{style}}</id>
  </defaultStyle>
  <resource class="featureType">
    <id>{{featuretype_id}}</id>
  </resource>
  <attribution>
    <logoWidth>0</logoWidth>
    <logoHeight>0</logoHeight>
  </attribution>
</layer>
