[#-- http://maps.trimet.org/solr/select?q=type:Stop*&rows=10&wt=xml --]
[#include "./PoiGlobals.ftl"]
[#include "./Macros.ftl"]
[#-- 

  getZoneCity

--]
[#function getZoneCity]
    [#assign retVal = "${direction} stop in ${zone}"]
    [#if city?length > 1]
        [#assign retVal = retVal + ", ${city}"]
    [/#if]
    [#return retVal]
[/#function]
[#-- 

  Info Tab Content

--]
[#macro infoTab]
[#assign n  = "<h3>${name}<span class='subh5'><br/> Stop ID ${stopid}</span></h3>"]
[#assign r  = routeList(routes)]
"${n} ${r}"[/#macro]
[#-- 

  Stop Amenities Content

--]
[#macro amenityTab]
[#assign amen = amenityList(amenities)]
[#if amen?length > 1]
        ,
        
        {
          "title" : "Amenities",
          "html"  :"${amen}" 
        }
[/#if]
[/#macro]
[#--

  Trip Planner links and such

--]
[#macro tripTab]
[#assign fm = "<a onclick=\\\"trimet.map.AppControls.setFrom('${name}', '${X}', '${Y}', '${lon}', '${lat}');\\\" href='#set-from' target=''>Plan a trip from here</a>"]
[#assign to = "<a onclick=\\\"trimet.map.AppControls.setTo  ('${name}', '${X}', '${Y}', '${lon}', '${lat}');\\\" href='#set-to'   target=''>Plan a trip to here</a>"]
[#assign tt = "<a href='javascript: window.open(\\\"http://trimet.org/arrivals/trackerpopup.html?locationID=${stopid}&amp;x=13&amp;y=13\\\", \\\"TransitTracker\\\",\\\"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=442,left=10,top=10,height=330\\\").focus()'>Next Arrivals from TransitTracker</a>"]
[#assign ve = "<a href='/html/map/ve.html?lat=${lat}&amp;lon=${lon}&amp;title=${name}&amp;description=${city}' target='_blank'>Bird's Eye View from Microsoft Bing</a>"]
"<span class='tabTripPlan'>${fm}<br/>${to}<br/>${ve}<br/>${tt}<br/></span>"[/#macro]
[#--

  Street View

--]
[#macro streetViewTab]
[#if lat?length > 0 && lon?length > 0]
"<iframe width='100%' height='100%' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://maps.google.com/maps?output=svembed&layer=c&cbp=13,,,,&cbll=${lat},${lon}&ll=${lat},${lon}&z=17'></iframe>"
[/#if][/#macro]
[#--

  main JSON output
  
--]
{
    "name"    : "${name}",
    "id"      : "${stopid}",
    "details" : [
        {
          "title" : "Info", 
          "html"  : [@infoTab/]
        }
        ,
        {
          "title": "Trip Planning", 
          "html" : [@tripTab/]
        }
        ,
        {
          "title": "Street View", 
          "html" : [@streetViewTab/]
        }
        [@amenityTab/]
    ]
}