<workspace>
  <id>Workspace-{{workspace}}</id>
  <name>{{workspace}}</name>
  <isolated>false</isolated>
  <dateCreated>{{utcnow}}</dateCreated>
  <dateModified>{{utcnow}}</dateModified>
</workspace>
